# SECURITY WARNING: don't run with the debug turned on in production!
DEBUG=True

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=secret

# Your web page
HOST_ADDRESS=http://localhost:8000

# OB API
API_BASE_URL=https://ob.nordigen.com
API_SECRET_ID=secret_id
API_SECRET_KEY=secret_key

# CELERY
BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379